{% extends 'base.html' %}

{% block title %} Map Trip {% endblock %}

{% block content %}

<div id='map'></div>

<script>
mapboxgl.accessToken = '{{ key }}';

let cityGeo = JSON.parse('{{ cityGeo|safe }}')

let photos = JSON.parse('{{ photos|safe }}')

let features = []

for (let i = 0; i < photos.length; i++) {                               
        let details = {
            "type": "Feature",
            "properties": {
            "url": `<img src=\"${photos[i].url}\" class=\"photo-details\">`,
            // "icon": "attraction"
            },
            "geometry": {
            "type": "Point",
            "coordinates": [parseFloat(photos[i].lon), parseFloat(photos[i].lat)]
            }
            }

        features.push(details)
    }


let map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v9',
center: [cityGeo.lon, cityGeo.lat],
zoom: 11
});
 
map.on('load', function () {

// delete below if necessary
map.loadImage('../static/imgs/camera2.png', function(error, image) {
if (error) throw error;
map.addImage('camera', image);

// Add a layer showing the places.
map.addLayer({
"id": "places",
"type": "symbol",
"source": {"type": "geojson","data": {"type": "FeatureCollection", "features":features}},
"layout": {
"icon-image": "camera",
"icon-size": 0.33, 
"icon-allow-overlap": true
}
});
});
});
 
// When a click event occurs on a feature in the places layer, open a popup at the
// location of the feature, with description HTML from its properties.
map.on('click', 'places', function (e) {
let coordinates = e.features[0].geometry.coordinates.slice();
let url = e.features[0].properties.url;
 
// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}
 
new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(url)
.addTo(map);
});
 
// Change the cursor to a pointer when the mouse is over the places layer.
map.on('mouseenter', 'places', function () {
map.getCanvas().style.cursor = 'pointer';
});
 
// Change it back to a pointer when it leaves.
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
});
</script>
{% endblock %}
 
<!-- </body> -->
<!-- </html> -->