{% extends 'base.html' %}

{% block title %} Explore Trips {% endblock %}

{% block content %}

<!-- <!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Trip Map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<style>
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head> -->
<!-- <body> -->
 
<!-- <style>
.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

img.photo-details {
height: 150px;
width: 150px;
}
</style> -->
<div id='map'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiamVuaWh1YW5nIiwiYSI6ImNqczlvM2NwejFrNG00YW1zcWFvc2dkNm4ifQ.bRg_E09Vk0gwxrcEKopVpQ';

let cityGeo = JSON.parse('{{ cityGeo|safe }}')

let photos = JSON.parse('{{ photos|safe }}')

let features = []

for (let i = 0; i < photos.length; i++) {                               
        let details = {
            "type": "Feature",
            "properties": {
            "url": `<img src=\"${photos[i].url}\" class=\"photo-details\">`,
            // "icon": "attraction"
            },
            "geometry": {
            "type": "Point",
            "coordinates": [parseFloat(photos[i].lon), parseFloat(photos[i].lat)]
            }
            }

        features.push(details)
    }


let map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v9',
center: [cityGeo.lon, cityGeo.lat],
zoom: 11
});
 
map.on('load', function () {

// delete below if necessary
map.loadImage('../static/imgs/camera2.png', function(error, image) {
if (error) throw error;
map.addImage('camera', image);

// Add a layer showing the places.
map.addLayer({
"id": "places",
"type": "symbol",
"source": {"type": "geojson","data": {"type": "FeatureCollection", "features":features}},
"layout": {
"icon-image": "camera",
"icon-size": 0.33, 
"icon-allow-overlap": true
}
});
});
});
 
// When a click event occurs on a feature in the places layer, open a popup at the
// location of the feature, with description HTML from its properties.
map.on('click', 'places', function (e) {
let coordinates = e.features[0].geometry.coordinates.slice();
let url = e.features[0].properties.url;
 
// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}
 
new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(url)
.addTo(map);
});
 
// Change the cursor to a pointer when the mouse is over the places layer.
map.on('mouseenter', 'places', function () {
map.getCanvas().style.cursor = 'pointer';
});
 
// Change it back to a pointer when it leaves.
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
});
</script>
{% endblock %}
 
<!-- </body> -->
<!-- </html> -->