{% extends 'base.html' %}

{% block title %}Welcome to PinTrip!{% endblock %}

{% block content %}

<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/imgs/sf.jpg">
      <div class="carousel-caption">
        <h1 class="display-2 pacifico"><i class="fas fa-camera-retro"></i> PinTrip</h1>
        <h3>Plan your next travel destination</h3>
        <a href="/signup" class="btn btn-outline-dark btn-lg">SIGN UP</a>
        <a href="/login" class="btn btn-primary btn-lg"">LOGIN</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/imgs/beach.jpg">
      <div class="carousel-caption">
        <h1 class="display-2 pacifico"><i class="fas fa-camera-retro"></i> PinTrip</h1>
        <h3>Plan your next travel destination</h3>
        <a href="/signup" class="btn btn-outline-dark btn-lg">SIGN UP</a>
        <a href="/login" class="btn btn-primary btn-lg"">LOGIN</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/imgs/bison.jpg">
      <div class="carousel-caption">
        <h1 class="display-2 pacifico"><i class="fas fa-camera-retro"></i> PinTrip</h1>
        <h3>Plan your next travel destination</h3>
        <a href="/signup" class="btn btn-outline-dark btn-lg">SIGN UP</a>
        <a href="/login" class="btn btn-primary btn-lg"">LOGIN</a>
      </div>
    </div>
</div>
</div>

{% endblock %}