{% extends 'base.html' %}

{% block title %} My Trips {% endblock %}

{% block content %}
<h2>Add a Trip!</h2>
<a data-toggle="modal" href="#myModal" class="btn btn-primary">Create Board</a>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add City Board</h4>
        </div>
        <div class="modal-body">
          <form class="modal-content animate" action="/{{ user.user_id }}/add-trip" method="POST">
            <input type="text" placeholder="Enter City" name="city">
            <input type="text" placeholder="Name of Trip" name="name">
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <button class="btn btn-primary" type="submit">Add Trip</a>
          </form>
        </div>
      </div>
    </div>
</div>
<br><br><br>

{% if trips %}
  <section id="blocks">
    {% for trip in trips %}
    <div class="results">
      <h4>{{ trip.name }}</h4>
          {% if trip.photos %}
          <form class='testing' action="/view-trip" method="POST">
          <input type="hidden" name="trip" value={{ trip.trip_id }}>
          <input type="image" name="submit" src="{{ trip.photos[0].url }}" border="0" alt="Submit" class="img-responsive overlay" />      
          </form>
          {% else %}
              <h3> There are no photos in this trip!</h3>
          {% endif %}
      <form class="remove-trip" action="/remove-trip" method="POST">
        <input type="hidden" name="user" value={{ session.get('login') }}>
        <input type="hidden" name="trip" value={{ trip.trip_id }}>
        <input type="submit" class="btn btn-outline-dark my-2 my-sm-0 photobutton" value="Remove {{trip.name}}">
      </form>
      </div>
      <br><br>
    {% endfor %}
  </section>
{% else %}
  <h3> Sorry no you do not have any trips yet.</h3>
{% endif %}

<script>

  let modal = document.getElementById('modal-wrapper');
  window.onclick = function(event){
    if (event.target == modal) {
      modal.style.display='none';
    }
  }

  const test = $('.remove-trip');

    test.on('submit', (evt) => {
    let r = confirm('Are you sure you want to delete this trip?')
    if (r == false){
      evt.preventDefault();
    }
  })


</script>

{% endblock %}
